<div class="p-grid app-login-container p-align-center">
    <div class="p-col-4 p-offset-4">
        <p-card header="Discover">
            <form (ngSubmit)="login()">
                <div class="p-grid">
                    <div class="p-col-6">
                        Username:
                    </div>
                    <div class="p-col-6">
                        <input type="text" [ngModelOptions]="{name:'username'}" [(ngModel)]="username"
                            placeholder="Username" pInputText />
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-6">
                        Password:
                    </div>
                    <div class="p-col-6">
                        <input type="password" placeholder="Password" pInputText [disabled]="true"/>
                    </div>
                </div>
                <div class="p-grid p-justify-end">
                    <div class="p-col-4 p-offset-8">
                        <button pButton type="submit" class="ui-button-success" label="Login"></button>
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>